<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [ ]:
#!pip install pandas
#!pip install requests

## Imports

Import any additional libraries you may need here.

In [1]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [5]:
# Write your code here
url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=3ae8a41ae8b314fe2c76abee00969ef2"  #Make sure to change ******* to your API key.
response = requests.get(url)
response.json()

{'success': True,
 'timestamp': 1629978784,
 'base': 'EUR',
 'date': '2021-08-26',
 'rates': {'AED': 4.325492,
  'AFN': 101.43806,
  'ALL': 121.819679,
  'AMD': 580.026085,
  'ANG': 2.113768,
  'AOA': 749.061146,
  'ARS': 114.679114,
  'AUD': 1.620745,
  'AWG': 2.120293,
  'AZN': 2.006053,
  'BAM': 1.955985,
  'BBD': 2.377689,
  'BDT': 100.507186,
  'BGN': 1.958644,
  'BHD': 0.443971,
  'BIF': 2336.345792,
  'BMD': 1.177614,
  'BND': 1.592727,
  'BOB': 8.119445,
  'BRL': 6.136426,
  'BSD': 1.177594,
  'BTC': 2.5066732e-05,
  'BTN': 87.353941,
  'BWP': 13.186948,
  'BYN': 2.960735,
  'BYR': 23081.225896,
  'BZD': 2.373689,
  'CAD': 1.484164,
  'CDF': 2351.69458,
  'CHF': 1.078894,
  'CLF': 0.033425,
  'CLP': 922.301766,
  'CNY': 7.633177,
  'COP': 4552.06524,
  'CRC': 732.038163,
  'CUC': 1.177614,
  'CUP': 31.20676,
  'CVE': 110.273762,
  'CZK': 25.557514,
  'DJF': 209.636656,
  'DKK': 7.436571,
  'DOP': 67.016325,
  'DZD': 159.201324,
  'EGP': 18.520796,
  'ERN': 17.669871,
  'ETB': 53.696366,
  'EUR': 1,
  'FJD': 2.476109,
  'FKP': 0.850947,
  'GBP': 0.856802,
  'GEL': 3.674223,
  'GGP': 0.850947,
  'GHS': 7.112665,
  'GIP': 0.850947,
  'GMD': 60.246932,
  'GNF': 11543.317163,
  'GTQ': 9.114524,
  'GYD': 246.17956,
  'HKD': 9.169664,
  'HNL': 28.031227,
  'HRK': 7.489527,
  'HTG': 116.287239,
  'HUF': 348.991653,
  'IDR': 17010.569082,
  'ILS': 3.792383,
  'IMP': 0.850947,
  'INR': 87.321753,
  'IQD': 1718.10651,
  'IRR': 49683.516564,
  'ISK': 148.579348,
  'JEP': 0.850947,
  'JMD': 179.482261,
  'JOD': 0.834904,
  'JPY': 129.636424,
  'KES': 129.266391,
  'KGS': 99.743584,
  'KHR': 4802.181553,
  'KMF': 493.243476,
  'KPW': 1059.852408,
  'KRW': 1374.605154,
  'KWD': 0.35445,
  'KYD': 0.981378,
  'KZT': 502.829952,
  'LAK': 11287.196813,
  'LBP': 1780.741487,
  'LKR': 234.928966,
  'LRD': 202.372542,
  'LSL': 17.629132,
  'LTL': 3.477187,
  'LVL': 0.712327,
  'LYD': 5.332424,
  'MAD': 10.558739,
  'MDL': 20.837456,
  'MGA': 4619.097006,
  'MKD': 61.619896,
  'MMK': 1938.310907,
  'MNT': 3357.259862,
  'MOP': 9.44475,
  'MRO': 420.407841,
  'MUR': 50.696058,
  'MVR': 18.217762,
  'MWK': 956.803022,
  'MXN': 23.904396,
  'MYR': 4.940133,
  'MZN': 75.043445,
  'NAD': 17.629132,
  'NGN': 484.576176,
  'NIO': 41.351286,
  'NOK': 10.357082,
  'NPR': 139.766105,
  'NZD': 1.688704,
  'OMR': 0.453393,
  'PAB': 1.177594,
  'PEN': 4.809482,
  'PGK': 4.187733,
  'PHP': 58.838277,
  'PKR': 196.362902,
  'PLN': 4.576193,
  'PYG': 8158.348213,
  'QAR': 4.287696,
  'RON': 4.931732,
  'RSD': 117.589343,
  'RUB': 87.109844,
  'RWF': 1187.914385,
  'SAR': 4.416976,
  'SBD': 9.481646,
  'SCR': 15.156031,
  'SDG': 521.097484,
  'SEK': 10.237642,
  'SGD': 1.592516,
  'SHP': 1.622038,
  'SLL': 12158.860258,
  'SOS': 688.903731,
  'SRD': 25.169109,
  'STD': 24374.223226,
  'SVC': 10.303819,
  'SYP': 1480.93617,
  'SZL': 17.565296,
  'THB': 38.543561,
  'TJS': 13.436268,
  'TMT': 4.121647,
  'TND': 3.282601,
  'TOP': 2.665298,
  'TRY': 9.850793,
  'TTD': 8.006936,
  'TWD': 32.907823,
  'TZS': 2730.826975,
  'UAH': 31.577409,
  'UGX': 4162.730746,
  'USD': 1.177614,
  'UYU': 50.430007,
  'UZS': 12546.036833,
  'VEF': 251809370669.2647,
  'VND': 26834.280331,
  'VUV': 130.581948,
  'WST': 3.01559,
  'XAF': 656.009123,
  'XAG': 0.049634,
  'XAU': 0.000658,
  'XCD': 3.18256,
  'XDR': 0.829166,
  'XOF': 656.003551,
  'XPF': 119.757324,
  'YER': 295.346157,
  'ZAR': 17.549704,
  'ZMK': 10599.931625,
  'ZMW': 19.341937,
  'ZWL': 379.191088}}

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [8]:
# Turn the data into a dataframe
dataframe = pd.DataFrame(response.json())
dataframe

     success   timestamp base        date         rates
AED     True  1629978784  EUR  2021-08-26      4.325492
AFN     True  1629978784  EUR  2021-08-26    101.438060
ALL     True  1629978784  EUR  2021-08-26    121.819679
AMD     True  1629978784  EUR  2021-08-26    580.026085
ANG     True  1629978784  EUR  2021-08-26      2.113768
..       ...         ...  ...         ...           ...
YER     True  1629978784  EUR  2021-08-26    295.346157
ZAR     True  1629978784  EUR  2021-08-26     17.549704
ZMK     True  1629978784  EUR  2021-08-26  10599.931625
ZMW     True  1629978784  EUR  2021-08-26     19.341937
ZWL     True  1629978784  EUR  2021-08-26    379.191088

[168 rows x 5 columns]

In [9]:
# Drop unnescessary columns
dataframe.drop(columns=["success", "timestamp", "base", "date"], inplace=True)
dataframe

            rates
AED      4.325492
AFN    101.438060
ALL    121.819679
AMD    580.026085
ANG      2.113768
..            ...
YER    295.346157
ZAR     17.549704
ZMK  10599.931625
ZMW     19.341937
ZWL    379.191088

[168 rows x 1 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [11]:
# Save the Dataframe
dataframe.to_csv("/home/gustavo/Documents/Working_dir/DataEngineerIBM/Course3/exchange_rates_1.csv")

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2021-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).